[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "base16-shell"]
	path = base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:MaicoTimmerman/snippets.git
[submodule "zsh-git-prompt"]
	path = zsh-git-prompt
	url = git@github.com:olivierverdier/zsh-git-prompt.git
[submodule "agnoster-zsh-theme"]
	path = agnoster-zsh-theme
	url = git@github.com:agnoster/agnoster-zsh-theme.git
